# Python
__pycache__/
*.egg-info
/dist

# Notebooks
*.ipynb

# pdm
/.pdm-plugins
/.pdm-python
/.venv
/pdm.lock

# tests
*.vcd
*.gtkw

# amaranth
/test/cocotb_test/build

# verilog codegen
*.v

# waveform
/*.vcd
/*.ron

# misc
*.svg
pyrightconfig.json
*.pdf

# external
examples/external

# cocotb
sim_build

# fpga
fpga/build

# vivado
*.jou
*.log
/.Xil

